<div *ngIf="MyTask" class="container">

       <!-- <form [formGroup]="newBlogForm" (ngSubmit)="onSubmit(newBlogForm.value)"> -->
           
               

                   <div class="form-group">
                       <label for="TaskName">Task Name</label>
                       <input  [(ngModel)]="MyTask.taskName" type="text" class="form-control" id="TaskName" placeholder="Enter Task Name">
                   </div>
                   <div class="form-group">
                       <label for="TaskDescription">Task Description</label>
                       <input  [(ngModel)]="MyTask.description" type="textarea" class="form-control" id="TaskDescription" placeholder="Enter Task Description">
                   </div>
                   <div class="form-group">
                       <label for="DueDate">Due Date</label>
                       <input  [(ngModel)]="MyTask.dueDate" type="date" class="form-control" id="DueDate" placeholder="Enter Task Due Date">
                   </div>

                 
                      
                       <button (click)="OnEdit()" class="btn btn-success m-b-10 rounded" >Save Changes</button>
            
       
        </div>