<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add New Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3" >
        <div class="md-form mb-5">
          <i class=" prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Project Name</label>
          <input type="text" #ProjectName  class="form-control validate" >
        </div>

        <div class="md-form mb-5">
            <i class=" prefix grey-text"></i>
            <label data-error="wrong" data-success="right" >Description</label>
  
            <input type="text" #ProjectDescription  class="form-control validate">
          </div>
<div class="md-form mb-5">
    <label data-error="wrong" data-success="right" >Track Name</label>
    
          <select [(ngModel)]="SelectedOption"  (change)="selected($event)" class="form-control m-b-10">
            <option *ngFor="let item of data" [value]="item.name"  >{{item.name}}</option>
          </select>
        </div>
  

        

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button data-toggle="modal" data-target="#modalLoginForm" class="btn btn-outline-primary" (click)="add(ProjectName.value,ProjectDescription.value)">ADD</button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <button class="btn btn-primary mb-4" data-toggle="modal" data-target="#modalLoginForm">Create Project</button>
</div>