<div>
    shhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
</div>


        One of three columns
        <div *ngIf="MyProject">
            <!-- <app-project-details-form [MyProject]="MyProject"></app-project-details-form>   -->
            <app-project-details-form ></app-project-details-form>  
           
    
           <!-- <app-project-details-form ></app-project-details-form> -->
           <div>
               shhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
             </div>
      

        One of three columns
        <app-project-material-list></app-project-material-list>
        <div>
            shhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
        </div>
     

        
        One of three columns
        <app-colaborator-list></app-colaborator-list>
        <div>
            shhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
        </div>
    
    
     
   
        
   
       
  