<div class="container">
    
    

<div class="center border border-success p-5 " >

    <!-- <h2 class="section-title-underline mb-5 text-center"> Tasks </h2> -->

    <h2 class="section-title-underline mb-5 text-center">
        <span>Tasks</span>
    </h2>

    
    <div *ngIf="MyTasks" class="upload-table text-center d-flex flex-column">

        <div *ngFor="let task of MyTasks">

            <app-task-card [MyTask]="task"></app-task-card>
            <a (click)="OnDelete($event,task)" style="cursor: pointer;"> <i class="fa fa-trash" aria-hidden="true" style="color: red; margin:5px"></i></a>
<a (click)="OnEdit($event,task)"style="cursor: pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color: green; margin:5px"></i></a>
         
             <br>
        </div>

       
<br>




        <button (click)="OnAddTask($event)" class="myButtonadd "><i class="fa fa-plus" aria-hidden="true"></i> Task</button>
       
        <br>

        <br>
        <br>
        <app-task-solution></app-task-solution>

    </div>
</div>


</div>



 