

<div class="center border border-success p-5 " >
    <h2 class="section-title-underline mb-5 text-center"> Tasks </h2>
    
    <div class="upload-table text-center">

        <div *ngFor="let task of MyTasks">

            <app-task-card [MyTask]="task"></app-task-card>
            <button (click)="OnDelete($event,task)" class="btn-danger">Delete</button> || 
             <button (click)="OnEdit($event,task)" class="btn-success">Edit</button>
             <br>
        </div>

        <!-- <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let task of MyTasks">
                    <td><strong>{{ task.TaskName }}</strong></td>
                    <td> <button (click)="OnDelete($event,task)" class="btn-danger">Delete</button> || 
                     <button (click)="OnEdit($event,task)" class="btn-success">Edit</button></td>
                </tr>
            </tbody>
        </table> -->
<br>


        <button (click)="OnAddTask($event)" class="btn-primary ">Add Task</button>
    </div>
</div>



  
  <!-- Modal -->
  <!-- <div class="modal fade" id="NeaTaskModal" tabindex="-1" role="dialog" aria-labelledby="NeaTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form #newtaskform (ngSubmit)="onSubmit(newtaskform)" >
                <div class="modal-header">
                    <h5 class="modal-title" id="NeaTaskModalLabel">New Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Task Name: <input type="text" [(ngModel)]="NewTask.TaskName">
                    Task Description: <input type="textarea" [(ngModel)]="NewTask.TaskDescriptionn">
                        
                    
                    Due Date: <input type="date" [(ngModel)]="NewTask.DueDate">
                 </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" >Add Task</button>
                </div>
            </form>
      </div>
    </div>
  </div> -->