<div class="container">
    
    

<div class="center border border-success p-5 " >
    <h2 class="section-title-underline mb-5 text-center"> Tasks </h2>
    <br>

    <button (click)="OnAddTask($event)" class="btn-primary m-b-10 rounded ">Add Task</button>
       
    <br>
    
    <div *ngIf="MyTasks" class="upload-table text-center d-flex flex-column">

        <div *ngFor="let task of MyTasks">

            <app-task-card [MyTask]="task"></app-task-card>
            <button (click)="OnDelete($event,task)" class="btn-danger">Delete</button> || 
             <button (click)="OnEdit($event,task)" class="btn-success">Edit</button>
             <br>
        </div>

       
<br>



        <br>
        <br>
        <app-task-solution></app-task-solution>

    </div>
</div>


</div>



 