<!-- <div class="col-lg-5 ml-auto align-self-center"> -->
<div class="center border border-success p-5">
    <h2 class="section-title-underline mb-5 text-center">
        <span> Material</span>
    </h2>

    <div class="row justify-content-center">
        <div class="col-mb-5">
            <div class="row">
                <div class="col-md-12 form-group">
                    <app-add-material></app-add-material>
                    <div *ngFor="let item of path ; let i =index">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <a>
                            <p (click)="download(i)">{{item.name}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>