<div class="course-1-item">
  <figure class="thumnail">
    <a href="course-single.html"><img src="../../assets/images/bg_1.jpg" alt="Image" class="img-fluid"></a>
    <div class="price">{{Course.intervalInDays}} Days</div>
    <div class="category">
      <h3>{{Course.courseName}}</h3>
    </div>
  </figure>
  <div class="course-1-content">
    <p class="desc mb-4">{{Course.description}}</p>
    <button type="button" (click)="OnDetails();" class="myButtonadd">Details</button>
    <!-- Button trigger Enrool modal -->
    <button type="button" *ngIf="UserRole==='Student'" class="myButton" data-toggle="modal"
      data-target="#exampleModalCenter">
      Enroll
    </button>
    <div  *ngIf="UserRole==='Student'">
      <button (click)="OnEnroll()" type="button" class="myButtonadd">Enroll</button>
      <input  [(ngModel)]="EnrollmentKey" type="text" class="form-control" aria-describedby="keyHelp">
    </div>
    <!-- <app-enroll-key #child *ngIf="UserRole==='Student'" ></app-enroll-key> -->
    <!-- {{Course.courseId}}
    {{Course.enrollmentKey}}
    [attr.data-target]="'#'+p" and [attr.id]="p" -->

    <!-- Button trigger modal -->
    <button *ngIf="UserRole==='Instructor'" type="button" class=" myButtondel" (click)="DeleteCourseCard(); ">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>

    <!-- Modal -->
    <!-- <div class="modal fade" [attr.id]="Course.courseId" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete?</h5>{{Course.courseId}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class=" btn btn-danger mr-2" (click)="DeleteCourseCard(); " data-dismiss="modal">
              <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->
<!-- </div> -->




<!--Enroll Modal -->
<!-- <div *ngIf="UserRole==='Student'" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Key</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlInput1" class="col-sm-12 control-label" style="color: gray;">Enrollment
            Key</label>


          <input [(ngModel)]="EnrollmentKey" type="text" class="form-control" aria-describedby="keyHelp"
            placeholder="Enter Key">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="OnEnroll()" type="button" class="myButtonadd">Enroll</button>
      </div>
    </div>
  </div>
</div> -->