<button type="button" class="btn  btn-lg"  style="background-color: #2eb82e;" data-toggle="modal" data-target="#myModal">Add Material</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Material</h4>
      </div>
        <div class="modal-body">
         
                <!-- <div class="form-group">
                  <label for="exampleInputSection1">Section</label>
                  <input type="Section" class="form-control rounded" id="exampleInputSectionCategory1" aria-describedby="SectionCategoryHelp" placeholder="Enter Section">
            
                </div> -->

                <select [(ngModel)]="data" (change)="selected()" class="form-control m-b-10">
                  <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
                </select>
           
               <br/>
<!---->
<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <!-- Optional custom content that replaces the the entire default content. -->
          <button type="button"  (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
 

                <!-- the submit part -->
        </div>
  

  <div class="modal-footer">
    <form [formGroup]="newBlogForm" (ngSubmit)="onSubmit(newBlogForm.value)">
      <!-- <button type="button" class="btn " style="background-color: #2eb82e;">Save changes</button> -->
      <div class="container-login100-form-btn">
        <button class="login100-form-btn"  style="background-color: #2eb82e;" >
          Register
        </button>
      </div>
      </form>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>

</div>
</div>