<div *ngIf="MyProject">
  <!-- <div *ngIf="MyProject | async"> -->

  <div>

    <label for="ProjectName">Project Name:</label>
    <input id="ProjectName" class="form-control" type="text" placeholder="{{MyProject.projectName}} " readonly>
    <br>
    <br>


    <label for="ProjectDescription">Project Description:</label>


    <input id="projectDescription" class="form-control" type="text" placeholder="{{MyProject.projectDescription}} "
      readonly>

    <br>
    <br>


    <label for="ProjectDescription">Track:</label>


    <input id="projectDescription" class="form-control" type="text" placeholder="{{MyProject.projectDescription}} "
      readonly>
    <br>
    <br>


    <label for="ProjectDescription">Intake:</label>


    <input id="projectDescription" class="form-control" type="text" placeholder="{{MyProject.projectDescription}} "
      readonly>


  </div>
  <br>
  <br>

</div>

<app-update-project [MyProject]="MyProject"></app-update-project>